div.category{
    width: 100%;
    height: 140px;
    background-color: whitesmoke;
    
}
div.category>div{
    width: 80%;
    height: 140px;
    text-align: center;
    margin: 20px auto;


}
div.category>div>div{
    width: 10.1%;
    height: inherit;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 10px;

}
div.category>div>div>img{
    width: 52px;
    height: 52px;
    margin-top: 20px;
}
div.category>div>div>p{
    font-size: 12px;
    font-family: BYekan;
    margin-top: 10px;
}



