div.offer {
	width: 100%;
	height: 400px;
	margin-top: 370px;
	text-align: center;
}
div.offer > div.border {
	width: 90%;
	height: 311px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	margin: 0 auto;
	border: solid rgb(219, 219, 219);
	border-width: 1px;
}

div.offer > div.border > div.top > div {
	display: inline-block;
	width: 180px;
	height: 150px;
	margin-top: 5px;
	border: solid rgb(219, 219, 219);
	border-width: 1px;
}
div.offer > div.border > div.bottom > div {
	display: inline-block;
	width: 180px;
	height: 150px;
	border: solid rgb(219, 219, 219);
	border-width: 1px;
}
div.offer > div.border > div.top > div > img {
	width: 80px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	object-fit: cover;
	background-size: cover;
	margin-top: 10px;
}
div.offer > div.border > div.bottom > div > img {
	width: 80px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	object-fit: cover;
	margin-top: 10px;
}
div.offer > span {
	font-size: 22px;
	font-family: "Byekan";
	display: inline-block;
	margin-bottom: 26px;
}
div.offer > div.border > div.top > div > .title,
div.offer > div.border > div.bottom > div > .title {
	font-family: "Byekan";
	font-size: 13px;
}
